.App {
  text-align: center;

  #logo {
    $img-size: 50px;
    width: $img-size;
    height: $img-size;
  }

  .main-container {
    margin-left: 10%;
    .main-content {
      width: 75%;
    }
    .side-content {
      width: 25%;
      .btn{
        margin: 100px auto;
      }
      // .side-menu {
      //   margin: 50px auto;
      //   width: 80%;
      //   border: solid 1px black;
      //   background-color: lightgray;
      //   .btn {
      //     background-color: white;
      //   }
      // }
    }
  }

  .dropdown-toggle,
  nav-link {
    color: white;
  }

  .nav-dropdown-container{
    padding: 0.5rem 1rem;
    .nav-dropdown-label{
        color:  rgba(255,255,255,.5) !important
    }
    .dropdown{
        .dropdown-toggle{
            padding: 0 0 0 10px;
        }
        .dropdown-menu{
            left: -70px;
        }
    }
  }

}
